{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-2">
        <img src="{{product.icon.url}}" class="img-fluid" />
    </div>

    <div class="col-10">
        <a href="{{product.url}}">
            <h1>{{product.title}}</h1>
        </a>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-8">
        <img src="{{product.image.url}}" height="500" width="500" class="img-fluid" />
    </div>

    <div class="col-4">
        <a href="javascript: {document.getElementById('upvote').submit()}"><button class="btn btn-primary btn-lrg btn-block"><span class="oi oi-arrow-circle-top"></span> Upvote
                ({{product.votes_total}})</button></a>
    </div>
</div>

<!-- Hunter and Date-->
<div class="row pt-3" >
    <div class="col-4">
        <h2><span class="oi oi-magnifying-glass"></span>  Hunted By: {{product.hunter}}</h2>
    </div>

    <div class="col-4 text-right">
        <h2><span class="oi oi-clock"></span>  {{product.pub_date_pretty}}</h2>
    </div>
</div>

<br />

<div class="row">
    <div class="col-8">
        <p>{{product.body}}</p>
    </div>
</div>

<form id="upvote" method="POST" action="{% url 'upvote' product.id %}">
    {% csrf_token %}
    <input type="hidden" />
</form>

{% endblock%}